
{{ 'section-image-banner.css' | asset_url | stylesheet_tag }} 

<div class="image-banner">
  <div class="product-section">
    <div class="product-carousel">
      <button class="prev-btn">&#10094;</button>
      <div class="carousel-images">
        <img src="{{ 'aloe-2.png' | asset_url }}"alt="Imagen 1" class="carousel-image">
        <img src="{{ 'aloe-2.png' | asset_url }}" alt="Imagen 2" class="carousel-image">
        <img src="{{ 'aloe-2.png' | asset_url }}" alt="Imagen 3" class="carousel-image">
        <img src="{{ 'aloe-2.png' | asset_url }}" alt="Imagen 4" class="carousel-image">
        </div>
        <button class="next-btn">&#10095;</button>
        </div>
        <div class="product-image">
          <img src="{{ 'aloe-2.png' | asset_url }}" alt="Aloe Image">
        </div>
  </div>

 <div class="product-details">
   <h2>DRY SKIN FACE CREAM</h2>
   <p>$15</p>
   
    <div class="reviews">
      <a href="#">(2) Reviews</a>
      <a href="#">Write a Review</a>
      <div class="rating">
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star filled"></span>
        <span class="star half-filled"></span>
      </div>
      
    </div>
  <p class="product-description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod magna ac eros facilisis, vel placerat elit lacinia.
  </p>
  <div class="product-links">
    <a href="#">Read More</a>
    <a href="#">Detail</a>
    <a href="#">Key Ingredients</a>
  </div>
  <div class="add-to-cart">
    <select>
      <!-- Quantity selector code here -->
    </select>
    <div class="price">
      <!-- Price display code here -->
    </div>
    <button>Add to Cart</button>
    <div class="whatsapp-contact">
      <!-- WhatsApp contact code here -->
    </div>
  </div>
  </div>
</div>